.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
  justify-content: center;

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}
.txtPaginacao{
  font-size: 20px;
  color: rgb(228, 228, 228);
}
/* .pagination button {
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
} */